@charset "UTF-8";
/*
 * UNIVERSIDAD DE GUADALAJARA
 * Modelo web para el desarrollo de sitios web universitarios
 *
 * DrUDG 0.13
 *
 * ESTILOS LOCALES
 * Por: Genaro Ramírez y Felipe Neville
 * Mayo 2010
 *
 * Define clases CSS para bloques ó componentes particulares de cada sitio.
 * Este archivo CSS es el último en cargarse, por lo que sobreescribe cualquier estilo
 * previamente definido.
 */


/**/

.in-maintenance #content-area{
	color:#FFF;}

/** Encabezados **/
h1 {
	color:#42586D; /* Color del tema */
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
}
h3 {
	color: #666; /* Color neutro del tema */
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
}
h2, h4 {
	color: #666;/* Color neutro del tema */
	font-weight:normal;
}
h4, h6 {
}
/** Enlaces **/
a {
	color:#006699;
	text-decoration:none;
}
a:visit
	color: #336699;
}
a:hover {
	color: #0099CC;
	text-decoration:underline;
}
a:active {
	color: #3366CC;
}
/** Listas **/
ul, ol, dl, li {
	color:#39322C
}
/** Título de la página **/
#title {
	background: #BFAB86 url(images/bg_titulo.png) no-repeat top;
}
#title h1, #title h1 a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color:#fff;
	text-decoration:none;
	margin:0;
}
#aux_title {
	background-image: url(images/bg_auxtitulo.png);
	background-repeat:no-repeat;
	background-position:top;
	background-color:#8C2B3D;
}
#aux_title h2 {
	font-family:Franklin Gothic Book, Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: normal;
	color:#FFFFFF;
	margin:0;
	padding:15PX;
	vertical-align:middle;
	text-align:right;
	font-weight:800;
}
/* "Menú principal" */
#nice-menu-0.nice-menu-down li {
	width:194px;/* Para acomodar los ítems divide 970px entre el número de ítems en el menú, procura buscar nombres para los ítems que no sobrepasen el ancho de pixeles */
}
/* Estilos de la vista de bitácoras de portadas */
#block-udg-block-2 {
	border-bottom:2px solid #999999;
}
#block-udg-views-vista_blog-block_1 .content, #block-udg-views-vista_blog-block_2 .content, #block-udg-block-2 .content {
	border: none;
}
#block-udg-views-vista_blog-block_1 .views-field-title {
	font-size: 1.2em;
	margin: .5em 0;
}
#block-udg-views-vista_blog-block_1 .views-field-body {
	margin-left:90px;
}
#block-udg-views-vista_blog-block_2 ul li {
	margin: 15px;
	border-bottom: 1px dotted #666666;
	list-style-image:url(images/li_arrow.png);
}
/* Quitar taxonomía */
.terms.terms-inline {
	display:none;
}
/* Estilos de composite layout */
/* Quitar el margen a la primer columna */
#page .composite-threecol-flexigrid .composite-column-first .composite-zone-inner {
	margin: 0px;
}
/* Quitar el margen a la última columna */
#page .composite-threecol-flexigrid .composite-column-last .composite-zone-inner {
	margin: 0 0 0 0.67em;
}


/* A partir de aquí, escribir estilos propios */



.tabcoliz {
    margin-left: 240px;
}

.emphintro, .emph_intro{
    background: url("images/enf_shi.png") no-repeat scroll left top #E8E8E8;
    border: thin solid #D8D8D8;
    color: #575757;
    margin: 10px 0;
    max-width: 970px;
    min-width: 190px;
    padding: 1.5em;
}


.listas_egres li{
background: #fcfff4 !important; /* old browsers */

background: -moz-linear-gradient(top, #fcfff4 0%, #e9e9ce 100%) !important; /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(100%,#e9e9ce)) !important; /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ) !important; /* ie */
-webkit-box-shadow: 0px 0px 4px #d1d6ba;
-moz-box-shadow: 0px 0px 4px #d1d6ba;
box-shadow: 0px 0px 4px #d1d6ba; 
padding:0.5em 0 ;
margin:9px 0 !important;
border:solid 1px #E3D889;
}

ul.listas_egres{
	padding-left:0;}

/* inicio */
.front #node-8 .content {
    margin: 10px 0 0;
}

.udg_slideshowtext_block_global .views-field-image-attach-images {
    margin-right: 37px;
}

#block-udg-block-7 p{
	margin:0;}

#or_tit{
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px; 

background: #A2B46A; /* old browsers */

background: -moz-linear-gradient(top, #A2B46A 1%, #68773C 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#A2B46A), color-stop(100%,#68773C)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A2B46A', endColorstr='#68773C',GradientType=0 ); /* ie */
float: left;
    margin-bottom: 2em;
    margin-right: 5px;
    min-height: 260px;
    width:173px;
}
#red_bolsa{
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
	background: #738FAA; /* old browsers */

background: -moz-linear-gradient(top, #738FAA 1%, #42586D 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#738FAA), color-stop(100%,#42586D)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#738FAA', endColorstr='#42586D',GradientType=0 ); /* ie */
float: left;
    margin-bottom: 2em;
    margin-right: 5px;
    min-height:260px;
    width: 173px;
}

#cred_egre{
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px; 

	background: #AC6F9E; /* old browsers */

background: -moz-linear-gradient(top, #AC6F9E 1%, #704166 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#AC6F9E), color-stop(100%,#704166)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AC6F9E', endColorstr='#704166',GradientType=0 ); /* ie */
float: left;
    margin-bottom: 2em;
    min-height:260px;
    width:173px;
}

#reg_egre{
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px; 

	background: #e0969d; /* Old browsers */
background: -moz-linear-gradient(top, #e0969d 0%, #bf5960 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0969d), color-stop(100%,#bf5960)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e0969d 0%,#bf5960 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e0969d 0%,#bf5960 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #e0969d 0%,#bf5960 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0969d', endColorstr='#bf5960',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #e0969d 0%,#bf5960 100%); /* W3C */
float: left;
    margin-bottom: 2em;
    min-height:260px;
    width: 173px;
	margin-left:5px;
}

#or_tit li a {
    color: #FFFFFF;
    font-size: 1em;
    text-shadow: -1px -1px 0 #68773C;
}
#red_bolsa li a {
    color: #FFFFFF;
    font-size: 1em;
    text-shadow: -1px -1px 0 #42586D;
}
#cred_egre li a {
    color: #FFFFFF;
    font-size: 1em;
    text-shadow: -1px -1px 0 #704166;
}

#reg_egre li a {
    color: #FFFFFF;
    font-size: 1em;
    text-shadow: -1px -1px 0 #704166;
}

#cred_egre h3 a:hover,
#red_bolsa h3 a:hover,
#or_tit h3 a:hover,
#reg_egre a:hover{
	text-decoration:none;}

#cred_egre h3 a,
#red_bolsa h3 a,
#or_tit h3 a,
#reg_egre a{
	color:#FFF;}

#or_tit h3{
	background: #A2B46A; /* old browsers */

background: -moz-linear-gradient(top, #A2B46A 1%, #8B9C58 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#A2B46A), color-stop(100%,#8B9C58)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A2B46A', endColorstr='#8B9C58',GradientType=0 ); /* ie */
	color:#fff;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
	padding-left: 8px;
	padding-top: 10px;
	padding-bottom:15px;	
	border-bottom:solid 1px #C3D87F;
	height:25px;
}
#red_bolsa h3{
	background: #738FAA; /* old browsers */

background: -moz-linear-gradient(top, #738FAA 1%, #5B7B98 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#738FAA), color-stop(100%,#5B7B98)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#738FAA', endColorstr='#5B7B98',GradientType=0 ); /* ie */
	color:#fff;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
	padding-left: 8px;
	padding-top: 10px;
	padding-bottom:15px;
	border-bottom:solid 1px #BFCCD8;
	height:25px;
}
#cred_egre  h3{
	background: #AC6F9E; /* old browsers */

background: -moz-linear-gradient(top, #AC6F9E 1%, #9B5A8D 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#AC6F9E), color-stop(100%,#9B5A8D)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AC6F9E', endColorstr='#9B5A8D',GradientType=0 ); /* ie */
	color:#fff;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
	padding-left: 8px;
	padding-top: 10px;
	padding-bottom:15px;
	border-bottom:solid 1px #D9BED3;
	height:25px;
}

#reg_egre  h3{
background: #e0969d; /* Old browsers */
background: -moz-linear-gradient(top, #e0969d 0%, #ba666a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0969d), color-stop(100%,#ba666a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e0969d 0%,#ba666a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e0969d 0%,#ba666a 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #e0969d 0%,#ba666a 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0969d', endColorstr='#ba666a',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #e0969d 0%,#ba666a 100%); /* W3C */
	color:#fff;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
	padding-left: 8px;
	padding-top: 10px;
	padding-bottom:15px;
	border-bottom:solid 1px #D9BED3;
	height:25px;
}

#or_tit  ul,
#red_bolsa  ul,
#cred_egre  ul,
#reg_egre  ul{
    padding-left: 0;
}
#or_tit  li,
#red_bolsa  li,
#cred_egre  li,
#reg_egre  li{
    background: url("images/bullet_home.png") no-repeat scroll left 4px transparent;
}

#reg_block {background: #93cede; /* old browsers */

background: -moz-linear-gradient(top, #93cede 0%, #75bdd1 41%, #49a5bf 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93cede), color-stop(41%,#75bdd1), color-stop(100%,#49a5bf)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 ); /* ie */
-moz-border-radius: 6px;
border-radius: 6px;
padding:15px 0 15px 10px;
min-height:40px;
margin-bottom:10px;
-webkit-box-shadow: 0px 2px 3px #ccc;
-moz-box-shadow: 0px 2px 3px #ccc;
box-shadow: 0px 2px 3px #ccc; 

}
#act_reg_block {background: #cdeb8e; /* old browsers */

background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* firefox */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* webkit */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* ie */
-moz-border-radius: 6px;
border-radius: 6px;
padding:15px 0 15px 10px;
min-height:40px;
margin-bottom:10px;
-webkit-box-shadow: 0px 2px 3px #e0e0e0;
-moz-box-shadow: 0px 2px 3px #e0e0e0;
box-shadow: 0px 2px 3px #e0e0e0; 
}



.btn_a{
	color:#FFF;
	padding-top:15px;
	font-size:1.3em;
	text-shadow: 0px 0px 5px #4a4a4a;
filter: dropshadow(color=#4a4a4a, offx=0, offy=0); 
}

/* Promociones */

.page-credencial div.node_read_more{
	border-top:dotted 1px #CCC;
	border-bottom:dotted 1px #CCC;
	clear:both;

	}
.page-credencial .views-field-image-attach-images-1 img{
	margin-right:10px;
	}

.page-credencial h3{
	border-bottom:solid 2px #CCC;
	padding-top:1em;}


.page-credencial a h4{
	color: #336699;
	text-decoration:none;
}

.page-credencial a:hover h4{
	color: #0099cc;
	text-decoration:underline;
}
.page-credencial .emph_intro{
	font-size:0.95em;
	padding: 0.7em;}

/* Quicktabs pestañas */
#block-udg-quicktabs-1 .item-list ul li {
	list-style-image:none;
	margin-top:.5em;
	*margin-top:0;
}
#quicktabs-1 ul.quicktabs_tabs {
	margin-bottom:2em;
}

/*Quicktabs (Pestanias)*/
.block-quicktabs .content {
	margin:0 3px 0 5px !important;
	padding:0 !important;
}
ul.quicktabs_tabs.quicktabs-style-basic li.active a {
	background:url("images/quicktabs/tab-right.gif") no-repeat scroll right 4px transparent !important;
*background:url("images/quicktabs/tab-right.gif") no-repeat scroll right 4px transparent !important;
	color:#333 !important;
	font:bold 12px Lucida Grande, Geneva, Arial, Verdana, sans-serif !important;
}
ul.quicktabs_tabs.quicktabs-style-basic li.active {
	background:url("images/quicktabs/tab-left.gif") no-repeat scroll left 1px transparent;
*background:url("images/quicktabs/tab-left.gif") no-repeat scroll left 1px transparent;
	background-color:none;
	border-color:none;
	border-style:none;
	border-width:0;
}
ul.quicktabs_tabs.quicktabs-style-basic {
	background:url("images/quicktabs/bg.gif") #fff;
*background:url("images/quicktabs/bg.gif") repeat-x scroll center 2px #fff;
	font:bold 12px Lucida Grande, Geneva, Arial, Verdana, sans-serif !important;
	margin:0 0 10px;
*margin:0;
	padding:3px 0;
	height:45px;
}
ul.quicktabs_tabs.quicktabs-style-basic li {
	background:none repeat scroll 0 0 transparent;
	display:block;
	float:left;
	list-style-type:none;
	margin:0;
	padding:5px 0 !important;
*padding:5px 0 !important;
	border-width:0;
}
ul.quicktabs_tabs li {
	background: none;
	list-style-image:none;
	list-style-type:none;
}
ul.quicktabs_tabs.quicktabs-style-basic li a:link, ul.quicktabs_tabs.quicktabs-style-basic li a:visited {
	color:#666;
	font: bold 0.9em Lucida Grande,Geneva,Arial,Verdana,sans-serif !important;
	*font:bold 0.8em Lucida Grande, Geneva, Arial, Verdana, sans-serif !important;
    margin: 0;
    padding: 9px 12px 5px 11px;x;
}
ul.quicktabs_tabs.quicktabs-style-basic a:hover {
	color:#444 !important;
	font:bold 12px Lucida Grande, Geneva, Arial, Verdana, sans-serif !important;
	margin:0;
	padding:8px 12px 5px 11px;
	border-style:none;
}
ul.quicktabs_tabs.quicktabs-style-basic li:hover {
	border:none;
	border-bottom:none;
	;
}
.quicktabs_main.quicktabs-style-basic {
	background-color:#FFFFFF;
	border-bottom-style:solid;
	border-left-style:solid;
	border-right:1px solid #AAAAAA;
	border-top-style:none;
	border-width:0;
	clear:both;
	padding:0;
/**padding:5px 10px 0 10px;*/
}
/* para portada bloque */
#block-udg-quicktabs-2 .content {
	padding:10px 0 0 0;
	margin-left:1px;
}


/* tablero */

.cortesias h2.title {
	background: url("images/ticket.png") no-repeat scroll 0 0 transparent !important;
	clear:both;
	
	}

.view-vista-tablero .views-field-body .field-content {
    color: #666666 !important;
    font-size: 0.9em;
	padding-left: 1.5em;
	float:left;
}

.beca h2.title {
	background: url("images/tb_becas.png") no-repeat scroll 0 0 transparent !important;
	clear:both;
	
	}
	
	
/* titulacion */
.page-servicios .tabcoliz, 
.page-credencial .tabcoliz, 
.page-servicios-red-bolsa-trabajo .tabcoliz, 
.page-servicios-orientacion-titulacion .tabcoliz {
    margin-left: 120px;
}

#block-udg-views-vista_tablero-block_7 {
	padding-left:120px;}


.node .content ul.li_icon li{
background: #606c88; /* Old browsers */
background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #606c88 0%,#3f4c6b 100%); /* W3C */
-moz-border-radius: 6px;
border-radius: 6px;
padding:7px;
min-height:40px;
margin-bottom:10px;
-webkit-box-shadow: 0px 2px 3px #ccc;
-moz-box-shadow: 0px 2px 3px #ccc;
box-shadow: 0px 2px 3px #ccc;
width:444px;
}

.li_icon li a{
	color:#FFF;
	float:left;
	padding-top:14px;
	font-size:1.3em;
	text-shadow: 0px 0px 5px #4a4a4a;
filter: dropshadow(color=#4a4a4a, offx=0, offy=0); }


.page-informacion #block-udg-views-vista_tablero-block_2 {
	margin-top:0;}
	
element.style {
    width: 230px;
}
.node .image-attach-body {
    float: left;
    margin-right: 1em;
    margin-left: 0;
}

/*Comentario*/