@charset "UTF-8";
/*
 * UNIVERSIDAD DE GUADALAJARA
 * Modelo web para el desarrollo de sitios web universitarios
 *
 * UDG Sitemap 6.2
 *
 * ESTILOS LOCALES
 * Por: Genaro Ramírez y Jorge Ramos
 * Julio 2010
 *
 * Define clases CSS para el módulo de udgsitemap
 */


.udgsitemap_container {/*contenedor para el mapa de sitio*/
	padding: 10px 0;
}

.udgsitemap_container a, .udgsitemap_container a:hover, .udgsitemap_container a:visited {
	color: #333;
}

.udgsitemap_container h3 {/*titulo del menu*/
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: .9em;
	color: #999;
}

.udgsitemap_container ul, .udgsitemap_container li {
	list-style: none outside none;
}

.mapitem.depth_1 {/*item de lista padre*/
	font-weight: bold;
	font-size: 14px;
	float: left;
	width: 20%;
	margin-bottom: 1em;
}

.mapitem.depth_1.first_column {/*item de lista padre que inicia columna*/
	clear: left;
}

.mapitem.depth_1 ul {/*item de lista padre*/
	padding: 0;
	font-size: 12px;
}

.mapitem.depth_1 ul ul {/*item de lista padre*/
	padding-left: 10px;
	font-size: 10px;
}

.mapitem.depth_2 {/**/
	font-weight: normal;
	font-size: 1em;
}





#udgsitemap-admin .mapform_container .etq_form_item label {
	display: inline;
	font-weight: normal;
}

#udgsitemap-admin .list_edicion {
	list-style: none;
	font-size: 0.8em;
}

#udgsitemap-admin .item_edicion .original,
#udgsitemap-admin .btn_edicion {
	display: inline;
}

#udgsitemap-admin .item_edicion .original a {
	color: #333333;
}

#udgsitemap-admin .item_edicion .original {
	padding-right: 30px;
}

#udgsitemap-admin .btn_edicion {
	padding-left: 10px;
}

#udgsitemap-admin .list_high_level .list_edicion {
	padding-left: 0;
}